.ad{position:relative;display:flex;flex-direction:column;align-items:center;gap:8px;min-height:274px;margin:48px 0;padding:16px 0;border-top:1px solid #e5ebef;border-bottom:1px solid #e5ebef;container-type:inline-size}
.label{font-size:11px;line-height:16px;color:#687986;font-weight:400}
@media(max-width:359px){.ad{display:none}}
